// Import custom variables (overrides Bootstrap default variables)
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import custom styles
@import "./global.scss";
@import "./navbar.scss";
@import "./masthead.scss";
@import "./portfolio.scss";

.container2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.redux {
  width: 64px;
  height: 64px;
  color: #93c47d;
}

.portfolio {
  margin: 0 !important;
}

.page-section {
  padding: 2rem 0;
}